*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(54, 4, 27);
}
ul{
    list-style-type: none;
    text-decoration: none;
    display:flex;
    gap:10px;
}
ul a{
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color:rgb(54, 4, 27) ;
    padding-left:60px;
    padding-right: 60px;
    padding-top: 12px;
    
}
li a:hover{
    background-color:rgb(54, 4, 27) ;
    color: rgb(190, 147, 167) ;
}
.pics{
height: 300px;
width: 300px;
padding: 60px;

}
.nav{
height: 46px;
background-color:rgb(190, 147, 167) ;
}
